VITE_POSTGREST_URL=http://localhost:3000

# https://labs.mapbox.com/location-helper/#10.04/48.137/11.5738
VITE_INITIAL_LONGITUDE=11.46147
VITE_INITIAL_LATITUDE=47.87307
VITE_INITIAL_ZOOM=12
VITE_INITIAL_PITCH=0
VITE_INITIAL_BEARING=0