POSTGRES_DB_POI=osm
POSTGRES_USER_POI=postgres
POSTGRES_PASSWORD_POI=osm
PGPORT_POI=5432
PGHOST_POI=localhost

POSTGRES_DB_ACCESSIBILITY=accessibility
POSTGRES_USER_ACCESSIBILITY=postgres
POSTGRES_PASSWORD_ACCESSIBILITY=accessibility
PGPORT_ACCESSIBILITY=5433
PGHOST_ACCESSIBILITY=localhost